<?xml version="1.0" encoding="utf-8"?>
<settings>
  <add key="Host" value="localhost"/>
  <add key="Port" value="1521"/>
  <add key="User" value="hipif"/>
  <add key="PassWord" value="hipif"/>
  <add key="DataBase" value="HIS"/>
  <add key="DataSource" value="HIS"/>
  <add key="MaxPoolSize" value="10000"/>
  <add key="MinPoolSize" value="2"/>
  <add key="MapperNameSpace" value="ZH.TEST.WS.Mappers"/>
  <add key="MapperBasePath"  value="ZH.TEST.WS.Mappers.xml"/>
</settings>